.inicio-sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.inicio-sesion-title{
    margin: 1rem 0;
    font-family: Raleway;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media (max-width:430px){
    .inicio-sesion{
        width: 100%;
        
    }
}
@media (min-width:1440px) and (max-width:2560px) {
    .inicio-sesion{
        width: 100%;
    }
    
}
@media (min-width:2560px){
    .inicio-sesion{
        width: 30%;
    }
    
}


