.about-us{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 45%;
    align-items: center;
}
.about-us-link{
    text-decoration: none;
    color: black;
    font-family: Raleway;
    transition: .5s;
}
.about-us-link:hover{
    font-size: 1.15rem;
    font-weight: 400;
}
.container-about-us-img{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: Raleway;
}
.container-about-us-link{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    justify-content: space-between;
    font-size: 1.25rem;
}
@media (min-width:1024px) and (max-width:1440px) {
    .container-about-us-img{
        justify-content: space-between;
    }    
}
@media (min-width:781px) and (max-width:1024px) {
    .about-us{
        width: 50%;
    }
}

@media (min-width:431px) and (max-width:780px) {
    .about-us{
        width: 45%;
        flex-direction: column;
        margin: 3% 0;
    }
    .container-about-us-img{
        width: auto;
    }
    .container-about-us-link{
        height: 80%;
        width: 100%;
        margin: 3% 0;
    }
    .container-about-us-img{
        width: 100%;
        text-align: left;
        justify-content: left;
    }
}
@media (max-width:430px) {
    .about-us{
        width: 100%;
        flex-direction: column;
    }
    .container-about-us-link{
        height: 80%;
        width: 100%;
        margin: 3% 0;
    }
    .about-us-link{
        margin: 3% 0;
    }
    .container-about-us-img{
        width: 100%;
        text-align: left;
        justify-content: left;
    }
}