.productos-lista{
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
}
.productos-header{
    align-items: center;
    display: flex;
}
.lista-title{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.productos-header-link{
    text-decoration: none;
    color: #2A7AE4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    transition: .5s;
}
.productos-header-link:hover{
    font-size: 1.15rem;
}

@media (max-width:430px){
    .productos-lista{
        justify-content: center;
    }
    .productos-header{
        justify-content: space-between;
        align-items: baseline;
    }
}