.logo{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: montserrat;
    transition: .5s;
    margin-right: 2rem;
}
.logo:hover{
    color: rgb(144, 142, 142);
}
@media (max-width:430px){
    .logo{
    }
    .logo-img{
    }
}